/.DS_Store
/.cache
/.venv
/calvino_fineweb_output_fixed.txt
/calvino_fineweb_output_fixed1.txt
/calvino_fineweb_output_fixed11.txt
/calvino_fineweb_output_fixed12.txt
/calvino_fineweb_output_fixed2.txt
/calvino_fineweb_output_fixed4.txt
/calvino_fineweb_output_fixed5.txt
/calvino_fineweb_output_fixed6.html
/calvino_fineweb_output_fixed6.txt
/calvino_fineweb_output_fixed8.txt
/calvino_fineweb_output_fixed_perf.html
/calvino_fineweb_output_fixed_perf.txt
/calvino_fineweb_vector_replace.py
/fineweb_local_index.sqlite
/fineweb_local_index.sqlite-shm
/fineweb_local_index.sqlite-wal
/output.html
/sample.txt